---
import { Image } from "astro:assets";
import { Download, Github, Linkedin, Twitter } from "lucide-react";
import Link from "../../components/link.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Diovane Alves">
  <main>
    <div class="grid h-screen grid-cols-2 place-items-center">
      <Image
        src="https://avatars.githubusercontent.com/u/87160050?v=4"
        alt="Foto do github"
        width="200"
        height="200"
        class="rounded-3xl md:w-52"
        loading={"eager"}
      />
      <div class="w-4/5 space-y-2">
        <h1 class="text-lg font-bold md:text-4xl">Diovane Alves</h1>
        <p class="opacity-75">
          I turn coffee into code, a passionate Full-Stack Developer dedicated
          to creating elegant solutions.
        </p>
        <div class="flex items-center gap-4">
          <a
            href="#"
            download="CV-DiovaneAlves.pdf"
            class="flex w-8/12 max-w-60 items-center justify-center gap-2 rounded-lg bg-primary py-2 font-medium text-white transition-all hover:scale-105 hover:opacity-85"
          >
            Download CV <Download size={20} />
          </a>
          <Link href="https://github.com/diovanealves" title={"Github"}
            ><Github /></Link
          >
          <Link
            href="https://www.linkedin.com/in/alvdiovane/"
            title={"Linkedin"}><Linkedin /></Link
          >
          <Link href="https://twitter.com/deluxyfps" title={"Twitter"}
            ><Twitter /></Link
          >
        </div>
      </div>
    </div>
  </main>
</Layout>
