---
import Jobs from "@/components/jobs.astro";
import Link from "@/components/link.astro";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { Download, Github, Linkedin, Twitter } from "lucide-react";
---

<Layout title="Diovane Alves">
  <main>
    <div
      class="grid h-screen grid-cols-1 place-content-evenly place-items-center md:grid-cols-2"
    >
      <Image
        src="https://avatars.githubusercontent.com/u/87160050?v=4"
        alt="Foto do github"
        width="200"
        height="200"
        class="rounded-3xl md:w-52"
        loading={"eager"}
      />
      <div class="w-4/5 space-y-2">
        <h1 class="text-lg font-bold md:text-4xl">Diovane Alves</h1>
        <p class="opacity-75 md:text-xl lg:text-lg">
          I turn coffee into code, a passionate Full-Stack Developer dedicated
          to creating elegant solutions.
        </p>
        <div class="flex items-center gap-4">
          <a
            href="#"
            download="CV-DiovaneAlves.pdf"
            class="flex w-8/12 max-w-60 items-center justify-center gap-2 rounded-lg bg-primary py-2 font-medium text-white transition-all hover:scale-105 hover:opacity-85"
          >
            Download CV <Download size={20} />
          </a>
          <Link href="https://github.com/diovanealves" title={"Github"}
            ><Github /></Link
          >
          <Link
            href="https://www.linkedin.com/in/alvdiovane/"
            title={"Linkedin"}><Linkedin /></Link
          >
          <Link href="https://twitter.com/deluxyfps" title={"Twitter"}
            ><Twitter /></Link
          >
        </div>
      </div>
    </div>

    <div>
      <h1 class="mb-3 text-3xl font-black">About me</h1>
      <p class="leading-relaxed opacity-90">
        I'm a passionate developer with a love for clean code and elegant
        solutions. My journey in tech started with a fascination for computers
        and a desire to understand how software can transform the world. I've
        honed my skills through hands-o n experience, constantly seeking out new
        challenges to push my limits. Whether I'm working on a front-end
        interface or architecting a scalable backend, I bring creativity and
        precision to everything I do.
      </p>

      <div
        class="my-10 grid grid-cols-2 place-content-center place-items-center"
      >
        <div>
          <h1 class="mb-2 text-xl font-bold">Professional Experience</h1>
          <p class="leading-tight opacity-75">
            I am free for proposals and new opportunities, Contact me to arrange
            something
          </p>
        </div>

        <div class="w-3/4">
          <Jobs
            title="Desenvolvedor Freelancer"
            description="Development and maintenance of interfaces using React and apis with NodeJS"
            employmentPeriod="Jun 2022 - Present"
          />
        </div>
      </div>
    </div>

    <div class="mt-14">
      <div class="flex items-center justify-between">
        <h1 class="text-2xl font-bold">My projects</h1>
        <a
          href="#"
          rel="noopener noreferrer"
          class="over:scale-105 font-semibold text-primary transition-opacity hover:underline hover:opacity-65"
          >View all projects</a
        >
      </div>
    </div>
  </main>
</Layout>
