@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #8cd1ff #041a27;
}

body {
  @apply bg-[#041A27] text-[#DFF6FF];
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #041a27;
}
*::-webkit-scrollbar-thumb {
  background-color: #8cd1ff;
  border-radius: 8px;
}
