---
interface Props {
  imageSrc: string;
  title: string;
}

const { imageSrc, title } = Astro.props;
---

<div
  class="flex h-32 w-36 items-center justify-center rounded-xl border border-foreground/25"
>
  <a
    href=""
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Link para a página do projeto"
    class="space-y-2 transition-all hover:scale-110"
  >
    <img
      src={imageSrc}
      alt=""
      width="36"
      height="36"
      loading={"eager"}
      class="mx-auto"
    />
    <h1 class="">{title}</h1>
  </a>
</div>
