---
interface Props {
  href: string;
  title: string;
  classname?: string;
}

const { href, title, classname } = Astro.props;
---

<div class={`hover:scale-125 hover:opacity-75 transition-all ${classname}`}>
  <a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={`Link para a réde social ${title}`}
  >
    <slot />
  </a>
</div>
