---
import { Image } from "astro:assets";
import { Download, Github, Linkedin, Twitter } from "lucide-react";
import Jobs from "@/components/jobs.astro";
import Link from "@/components/link.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Diovane Alves">
  <main>
    <div
      class="grid h-screen grid-cols-1 place-content-evenly place-items-center md:grid-cols-2"
    >
      <Image
        src="https://avatars.githubusercontent.com/u/87160050?v=4"
        alt="Foto do github"
        width="200"
        height="200"
        class="rounded-3xl md:w-52"
        loading={"eager"}
      />
      <div class="w-4/5 space-y-2">
        <h1 class="text-lg font-bold md:text-4xl">Diovane Alves</h1>
        <p class="opacity-75 md:text-xl lg:text-lg">
          Transformo café em codigo, Desenvolvedor Full-Stack apaixonado por
          criar soluções elegantes.
        </p>

        <div class="flex items-center gap-4">
          <a
            href="#"
            download="CV-DiovaneAlves.pdf"
            class="flex w-8/12 max-w-60 items-center justify-center gap-2 rounded-lg bg-primary py-2 font-medium text-white transition-all hover:scale-105 hover:opacity-85"
          >
            Baixar CV <Download size={20} />
          </a>
          <Link href="https://github.com/diovanealves" title={"Github"}
            ><Github /></Link
          >
          <Link
            href="https://www.linkedin.com/in/alvdiovane/"
            title={"Linkedin"}><Linkedin /></Link
          >
          <Link href="https://twitter.com/deluxyfps" title={"Twitter"}
            ><Twitter /></Link
          >
        </div>
      </div>
    </div>

    <div>
      <h1 class="mb-3 text-3xl font-black">Sobre mim</h1>
      <p class="leading-relaxed opacity-90">
        Sou um desenvolvedor apaixonado com amor por código limpo e soluções
        elegantes. Minha jornada na tecnologia começou com uma fascinação por
        computadores e o desejo de entender como o software pode transformar o
        mundo. Aprimorei minhas habilidades por meio de experiência prática,
        sempre buscando novos desafios para superar meus limites. Seja
        trabalhando em uma interface front-end ou arquitetando um backend
        escalável, trago criatividade e precisão para tudo o que faço.
      </p>

      <div
        class="my-10 grid grid-cols-2 place-content-center place-items-center"
      >
        <div>
          <h1 class="mb-2 text-xl font-bold">Experiência Profissional</h1>
          <p class="leading-tight opacity-75">
            Estou livre para propostas e novas oportunidades. Entre em contato
            comigo para marcarmos algo.
          </p>
        </div>

        <div class="w-3/4">
          <Jobs
            title="Desenvolvedor Freelancer"
            description="Desenvolvimento e manutenção de interfaces utilizando React e apis com NodeJS"
            employmentPeriod="Jun 2022 - Atualmente"
          />
        </div>
      </div>
    </div>
  </main>
</Layout>
