---
import CardStack from "../../components/cardStack.astro";
import { stackData } from "../../data/stackData";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Tecnologias e Ferramentas">
  <main class="mt-16">
    <h1 class="mb-2 text-2xl font-bold">Tecnologias e Ferramentas</h1>
    <p class="opacity-85">
      Explore as tecnologias e ferramentas que impulsionam minha carreira como
      desenvolvedor.
    </p>

    <div class="mt-6">
      {
        Object.entries(stackData).map(([category, items]) => (
          <div>
            <h1 class="mb-3 text-xl font-semibold">{category}</h1>
            <div class="grid grid-cols-2 place-items-center gap-3 md:grid-cols-4 xl:grid-cols-6">
              {items.map((item) => (
                <div>
                  <CardStack title={item.title} imageSrc={item.image} />
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
