---
import CardStack from "@/components/cardStack.astro";
import { stackData } from "@/data/stackData";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Stack | Diovane Alves">
  <main class="mt-8">
    <h1 class="mb-2 text-2xl font-bold">Tecnologias e Ferramentas</h1>
    <p class="text-sm opacity-85">
      Explore as tecnologias e ferramentas que impulsionam minha carreira como
      desenvolvedor.
    </p>

    <div
      class="mt-6 grid grid-cols-2 place-content-center place-items-center gap-3 md:grid-cols-4 lg:grid-cols-6"
    >
      {stackData.map((item) => <CardStack {...item}  />)}
    </div>
  </main>
</Layout>
